<div class="box">
	<%= f.input :username %>
	<%= f.input :email %>
	<%= f.input :first_name %>
	<%= f.input :last_name %>
	<%= f.input :is_system %>
	<%= f.input :is_admin %>
	<%= f.input :is_sales %>
	<%= f.input :is_merchant %>
</div>
<div class="box">
	<%= f.input :password%>
	<%= f.input :password_confirmation, required: true%>
</div>
<%= f.submit text %>
