<div class="column_left">
	<%= render partial: 'shared/merchant/gross_annual_turnover_info', locals: {merchant: @merchant} %>
	<%= render partial: 'shared/merchant/contact_info', locals: {merchant: @merchant} %>
	<%= render partial: 'shared/merchant/company_info', locals: {merchant: @merchant} %>
	<%= render partial: 'shared/address', locals: {address: @merchant.business_address || Address.new } %>
	<%= render partial: 'shared/merchant/categories_info', locals: {merchant: @merchant} %>
	<%= render partial: 'shared/merchant/business_contact_info', locals: {merchant: @merchant} %>
	<%= render partial: 'shared/merchant/bank_info', locals: {merchant: @merchant} %>
	<%= render partial: 'shared/merchant/barclays_account_info', locals: {merchant: @merchant} %>
  <%= render partial: 'shared/merchant/profile_info', locals: {merchant: @merchant } %>
	<%= render partial: 'shared/merchant/signature', locals: {merchant: @merchant} %>
	<%= render partial: 'shared/merchant/checks_info', locals: {merchant: @merchant} %>
</div>

