    <div class="box">
      <h4>Company info</h4>
      <h5>We need this information to set you up as an approved merchant</h5>
      <%= f.input :primary_business_category, collection: I18n.options_for_select_from_scope('options.business_categories'), prompt: ""  %>
      <% secondary_business_category_options = @registration.primary_business_category.present? ?
   I18n.options_for_select_from_scope("options.secondary_business_categories.#{@registration.primary_business_category}") : [] %>
      <%= f.input :secondary_business_category, collection: secondary_business_category_options %>
    </div>

    <div class="box">
      <h4>Source code/campaign</h4>
      <%= f.input :campaign_code, size: 30, tooltip: "This is some helpful information for the user who has questions" %>
    </div>


    <div class="box">
      <h4>About your business</h4>
      <fieldset>
        <%= f.label :has_online_store, "Do you have an online store?" %>
        <ul class="radio_inline">
          <li><%= f.radio_button :has_online_store, true %>Yes</li>
          <li><%= f.radio_button :has_online_store, false %>No</li>
        </ul>
      </fieldset>

      <fieldset>
        <%= f.label :has_mail_order, "Do you offer Mail Order / Telephone Order?" %>
        <ul class="radio_inline">
          <li><%= f.radio_button :has_mail_order, true %>Yes</li>
          <li><%= f.radio_button :has_mail_order, false %>No</li>
        </ul>
      </fieldset>
      <fieldset>
        <%= f.label :business_website_url, "Company website <span>(optional)</span>".html_safe %>
        <%= f.text_field :business_website_url %>
      </fieldset>
    </div>

    <div class="box">
      <h4>Payment Information Debit and Credit</h4>
      <%= f.input :business_bank_account_name %>
      <%= f.input :business_bank_account_number %>
      <%= f.input :business_bank_sort_code %>
    </div>

    <div class="box">
      <h4>Authorised Signatory</h4>
      <%= f.input :authorised_by_first_name, :input_html => { :value => f.object.authorised_by_first_name || f.object.contact_first_name } %>
      <%= f.input :authorised_by_last_name, :input_html => { :value => f.object.authorised_by_last_name || f.object.contact_last_name }  %>
      <%= f.input :authorised_by_position %>
      <%= f.input :authorised_by_phone_number %>
      <%= f.input :authorised_by_mobile_number %>
      <%= f.input :authorised_by_email_address %>

      <fieldset>
        <label for="esignature">Tick to confirm that the business information above is true and correct and that you
          accept the data <a href="/static_pages/privacy">Privacy Policy</a></label><input type="checkbox">
      </fieldset>

      <div class="box">
        <h4>Terms and Conditions</h4>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
          dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
          commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
          nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
          id est laborum</p>

        <fieldset>
          <ul>
            <li><input type="checkbox"> I am an authorised signatory</li>
            <li><input type="checkbox"> I,
              <span class="signatory_first_name">[authorised </span><span class="signatory_last_name">signatory’s name]</span>
              accept the Terms &amp; Conditions
            </li>
          </ul>
        </fieldset>
      </div>

      <fieldset>
        <%= f.submit 'Save and continue' %>
      </fieldset>

    </div>

<%= content_for :javascript do -%>
  <%= javascript_tag do %>
    $(function() {
      secondaryCategories = <%= I18n.t('options.secondary_business_categories').to_json.html_safe %>;
      $("#registration_primary_business_category").change(function() {
        html = "";
        values = secondaryCategories[$(this).val()];
        html += "<option></option>";
        if(values) {
          for(var key in values) {
            html += "<option value=" + key + ">" + values[key] + "</option>";
          }
          $("#registration_secondary_business_category").removeAttr("disabled");
        }
        $("#registration_secondary_business_category").html(html);
      });
    });
  <% end %>
<% end -%>
