<div class="box">
	<ul class="merchant_information">
		<li class="label"><p>Post Code:</p></li>
		<li class="value"><p><%= address.postcode %></p></li>
		<div class="clear"></div>
	</ul>
	<ul class="merchant_information">
		<li class="label"><p>Address:</p></li>
		<li class="value"><p><%= address.address_line_1 %></p></li>
		<div class="clear"></div>
	</ul>
	<ul class="merchant_information">
		<li class="label"><p>Address Line 2:</p></li>
		<li class="value"><p><%= address.address_line_2 %></p></li>
		<div class="clear"></div>
	</ul>
	<ul class="merchant_information">
		<li class="label"><p>Address Line 3:</p></li>
		<li class="value"><p><%= address.address_line_3 %></p></li>
		<div class="clear"></div>
	</ul>
	<ul class="merchant_information">
		<li class="label"><p>Address Line 4:</p></li>
		<li class="value"><p><%= address.address_line_4 %></p></li>
		<div class="clear"></div>
	</ul>
	<ul class="merchant_information">
		<li class="label"><p>Address Line 5:</p></li>
		<li class="value"><p><%= address.address_line_5 %></p></li>
		<div class="clear"></div>
	</ul>
	<ul class="merchant_information">
		<li class="label"><p>Town:</p></li>
		<li class="value"><p><%= address.post_town %></p></li>
		<div class="clear"></div>
	</ul>
</div>
