<div class="nav_full_width"></div>
<div class="content_wrap">
<div class="tabs">
	<ul class="tab_nav">
		<li><a href="#offers">Bespoke Offers</a>
    <li><a href="#customers">Reach the right customers</a></li>
    <li><a href="#goals">Achieve your business goals</a></li>
    <li><a href="#track">Track your offers and income</a></li>
  </ul>
  <div id="offers">
    <h1>Welcome to Bespoke Offers</h1>
		<h2>An innovative digital offers service for everyone, from Barclaycard.</h2>
			<div class="column_left">
			<section>
				<h3><a href="#customers">Reach the right customers</a></h2>
				<p>through our insight into consumers’<br> spending behaviour.</p>
			</section> <!-- /home_top -->
			<section>
				<h3><a href="#goals">Achieve your business goals</a></h2>	
				<p>by creating tailor-made offers easily.</p>
			</section>
			<section>
					<h3><a href="#track">Track your offers and income</a></h2>	
					<p>with detailed reports and statements.</p>
			</section>
				<p>Want to start using Bespoke Offers?</p>
        <%= link_to 'Register your business', new_registration_path, :class => "register" %>
        <p>Interested, but have a question? <br><%= link_to 'Contact the Bespoke Offers team.', new_info_request_path %></p>
			</div>
			<div class="column_right">
			<section class="video_box">
				<%= image_tag "pottery-girl.jpg" %>
			</section>
			</div>
			<div class="clear"></div>

	</div><!-- END customers -->

  <div id="customers">
    <div class="column_left">
      <section>
        <h2>Tactical offers through detailed knowledge</h2>
        <p>Bespoke Offers gives you the flexibility to target your audience thanks to detailed customer data:</p>
        <ul>        
          <li>Target your ideal consumers based on their age, income and even their spending habits</li>
          <li>If someone has shopped with you before, we can often tell</li>
          <li>This knowledge allows you to create tactical offers – e.g. rewarding customer loyalty or tempting new consumers</li>
        </ul>
      </section>
      <section>
        <h2>Why our data is so sophisticated:</h2>	
        <ul>
          <li>Consumers signing up to Bespoke Offers are asked to tell us their interests</li>
          <li>On top of that, we can often see where they actually spend their money</li>
          <li>That’s how we make sure consumers get offers that are right for them – giving you a better response rate and making your offers more effective</li>
        </ul>
      </section> <!-- /home_top -->
      <section>
        <h2>Precision targeting, wide reach</h2>	
<ul>
<li>With our extensive Barclaycard and Barclays customer dataset, we can put your offer in front of the right consumers straight away</li>
<li>But that’s only the start as Bespoke Offers is open to everyone – potentially connecting you to an even larger audience</li>
</ul>
      </section>
    </div>
    <div class="column_right">
      <section class="video_box">
        <%= image_tag "flower-shop-girl.jpg" %>
      </section>
      <p>Want to start using Bespoke Offers?</p>
      <%= link_to 'Register your business', new_registration_path, :class => "register" %>
      <p>Interested, but have a question? <br><%= link_to 'Contact the Bespoke Offers team.', new_info_request_path %></p>
    </div>
  </div><!-- END customers -->
  
	<div id="goals">
	 <div class="column_left">
			<section>
				<h2>Set your goals - and achieve them</h2>
				<p>What are your business goals? Reaching new consumers, ensuring repeat business or simply reducing stock?</p>
				<p>Our targeted offers give you a powerful yet cost-effective way to promote your business, whatever your objectives</p>
			</section> <!-- /home_top -->
			<section>
				<h2>Flexibility to create tailor-made offers</h2>	
				<p>With Bespoke Offers you have the flexibility to create your offer on your terms:</p>
				<ul>
          <li>Choose which type of offer will work best for your business and your marketing budget</li>
          <li>Set your offer start date, duration and how customers can use it</li>
				</ul>
			</section>
			<section>
					<h2>Offers as easy as 1, 2, 3</h2>	
					<p>We give you all the tools to set up offers easily and quickly, and make tracking and interpreting results simple, so you can concentrate on what’s really important: your business</p>
			</section>
	 </div>
	 <div class="column_right">
			<section class="video_box">
				<%= image_tag "upholstery-girl.jpg" %>
			</section>
      <p>Want to start using Bespoke Offers?</p>
      <%= link_to 'Register your business', new_registration_path, :class => "register" %>
      <p>Interested, but have a question? <br><%= link_to 'Contact the Bespoke Offers team.', new_info_request_path %></p>
	 </div>
	</div> <!-- END goals -->
	
	<div id="track">
	 <div class="column_left">
			<section>
				<h2>Always in control through tracking</h2>
				<p>Easy-to-use tracking tools let you see how your offers are performing:</p>
				<ul>
          <li>Follow and understand the income from your offers month-by-month, with detailed statements</li>
          <li>See how your business is benefiting</li>
          <li>Stay on top of your business goals</li>
				</ul>
			</section> <!-- /home_top -->
			<section>
				<h2>Be in charge and in demand</h2>	
				<p>Staying updated on how your offers are performing makes it easier for you to meet customer demand:</p>
				<ul>
          <li>See which offers are most popular with customers and plan ahead for busy business periods</li>
          <li>Check the type of customers who are using your offers most</li>
				</ul>
			</section>
			<section>
					<h2>Helping you manage your finances </h2>	
					<ul>
            <li>With our ‘pre-paid offer’ option, you only pay commission on  sales that have been completed, so you can use your marketing budget efficiently</li>
            <li>And with our ‘free offers’ option, the costs are straightforward and transparent</li>
					</ul>
			</section>			
	 </div>
	 <div class="column_right">
			<section class="video_box">
				<%= image_tag "bakery-girl.jpg" %>
			</section>
      <p>Want to start using Bespoke Offers?</p>
      <%= link_to 'Register your business', new_registration_path, :class => "register" %>
      <p>Interested, but have a question? <br><%= link_to 'Contact the Bespoke Offers team.', new_info_request_path %></p>
	 </div>
	</div><!-- END track -->
</div><!-- END tabs -->
</div>
