<div class="box">
	<h4>Contact Info</h4>

	<ul class="merchant_information">
		<li class="label"><p>Title</p></li>
		<li class="value"><p><%= merchant.contact_title %></p></li>
		<div class="clear"></div>
	</ul>
	<ul class="merchant_information">
		<li class="label"><p>First Name:</p></li>
		<li class="value"><p><%= merchant.contact_first_name %></p></li>
		<div class="clear"></div>
	</ul>
	<ul class="merchant_information">
		<li class="label"><p>Last Name:</p></li>
		<li class="value"><p><%= merchant.contact_last_name %></p></li>
		<div class="clear"></div>
	</ul>
	<ul class="merchant_information">
		<li class="label"><p>Legal Representative:</p></li>
		<li class="value"><p><%= merchant.legal_representative ? "Yes" : "No" %> </p></li>
		<div class="clear"></div>
	</ul>
	<ul class="merchant_information">
		<li class="label"><p>Position:</p></li>
		<li class="value"><p><%= merchant.contact_position %></p></li>
		<div class="clear"></div>
	</ul>
</div>
