<h1>Offer Setup Form</h1>

<%= (key_information_form = render(partial: "shared/offer/key_information_form", locals: { offer: @offer })) %>

<%= simple_form_for [:admin, @offer, @key_information_agreement] do |f| %>
  <%= hidden_field_tag("key_information_agreement[html]", raw(CGI::escapeHTML(key_information_form))) %>
  <%= hidden_field_tag("key_information_agreement[signature_params][name]", "signature.svg") %>
  <%= hidden_field_tag("key_information_agreement[signature_params][type]") %>
  <%= hidden_field_tag("key_information_agreement[signature_params][data]") %>

  <div id="signature_box"></div>
  <a id="signature_reset" href="#">Clear Signature</a>

  <%= link_to "Amend", edit_admin_merchant_offer_path(@offer.merchant, @offer), class: 'btn1' %>

  <%= f.button :submit, 'Confirm & Submit', id: "submit" %>
<% end %>
